@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-zinc-800;
    @apply pt-20;
  }
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track-piece {
  background-color: #000000;
}
